extends ../newlayout.jade
block contenido
  h4 MODULO 4
  h4 Uds programadas: #{pro}   --- Uds en corte: #{cor}  --- Uds totales: #{tot}  
  div(class='col-md-12 container big-top-space')
    h3  
    table
        tr
          th OP
          th TR
          th UDS
          th MO
          th F_PROGRA   
          th TRAZO
          th EXTENDIDO
          th CORTE
          th TIQUETEO
          th PREPARACION
        tr
        for m in m1
          tr
            th=m.op
            th=m.trazo
            th=m.uds
            th=m.modu 
            th=m.fecha.toDateString()
            th=m.trazo1
            th=m.extendido
            th=m.corte
            th=m.tiqueteo
            th=m.preparacion
          tr