extends ../layout.jade
block contenido
	div(class='col-md-12 container big-top-space')
		br
		table
			tr
				th OP
				th TR
				th REF
				th UDS
				th MOD
				th EST
				th F_PROGRAM
				th TRAZO
				th EXTENDIDO
				th CORTE
				th TIQUETEO
				th ESTAMPADO(1)
				th PREPARACION
				th INTEGRACION
			tr
			for bus in busq
				tr
					th=bus.op
					th=bus.trazo
					th=bus.ref
					th=bus.uds
					th=bus.modu 
					th=bus.est
					th=bus.fecha.toDateString()
					th=bus.trazo1 
					th=bus.extendido
					th=bus.corte
					th=bus.tiqueteo
					th=bus.estampado
					th=bus.preparacion
					th=bus.entregado
				tr